Repository informatyzacja/parliamentary-system, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Omikorin, @StachowiakDawid, @Informatyzacja-CI

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*               @Omikorin @StachowiakDawid

# force bot to be a black hole for notifications
package.json    @Informatyzacja-CI
package-lock.json  @Informatyzacja-CI
yarn.lock       @Informatyzacja-CI

Update README.md
  README.md
Owners: @Omikorin, @StachowiakDawid

Update README.md
  README.md
Owners: @Omikorin, @StachowiakDawid

Remove redundant import, fix playwright
  .github/workflows/playwright.yml
  backend/src/extensions/users-permissions/server/services/providers-registry.js
Owners: @Omikorin, @StachowiakDawid

Test
  .github/workflows/playwright.yml
Owners: @Omikorin, @StachowiakDawid

Test
  .github/workflows/playwright.yml
Owners: @Omikorin, @StachowiakDawid

Test
  .github/workflows/playwright.yml
Owners: @Omikorin, @StachowiakDawid

Changed website colors and added shadows to navbar
  frontend/src/components/Footer.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/styles/theme.ts
Owners: @Omikorin, @StachowiakDawid

Removed unnecessary footer shadow
  frontend/src/components/Footer.tsx
Owners: @Omikorin, @StachowiakDawid

Change website colors (#382)
  frontend/src/components/Footer.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/styles/theme.ts
Owners: @Omikorin, @StachowiakDawid

Fixed spacing between cards on meeting subpage
  frontend/src/components/Meeting.tsx
  frontend/src/pages/posiedzenia/index.tsx
Owners: @Omikorin, @StachowiakDawid

Fixed spacing between cards on meeting subpage (#383)
  frontend/src/components/Meeting.tsx
  frontend/src/pages/posiedzenia/index.tsx
Owners: @Omikorin, @StachowiakDawid

Remove E2E tests
  .github/workflows/playwright.yml
Owners: @Omikorin, @StachowiakDawid

chore: remove playwright
  frontend/package.json
  frontend/playwright.config.ts
  frontend/tests/main.spec.ts
  frontend/tests/test.config.ts
  pnpm-lock.yaml
Owners: @Informatyzacja-CI, @Omikorin, @StachowiakDawid

chore: remove playwright (#384)
  frontend/package.json
  frontend/playwright.config.ts
  frontend/tests/main.spec.ts
  frontend/tests/test.config.ts
  pnpm-lock.yaml
Owners: @Informatyzacja-CI, @Omikorin, @StachowiakDawid

build: update deps
  backend/package.json
  backend/pnpm-lock.yaml
  frontend/package.json
  pnpm-lock.yaml
Owners: @Informatyzacja-CI, @Omikorin, @StachowiakDawid

build: improve ci
  .github/workflows/ci.yml
Owners: @Omikorin, @StachowiakDawid

build: update deps (#385)
  .github/workflows/ci.yml
  backend/package.json
  backend/pnpm-lock.yaml
  frontend/package.json
  pnpm-lock.yaml
Owners: @Omikorin, @StachowiakDawid, @Informatyzacja-CI

Fix Strapi admin panel
  .github/workflows/cd.yml
  backend/config/server.js
Owners: @Omikorin, @StachowiakDawid

Fix Strapi admin panel (#386)
  .github/workflows/cd.yml
  backend/config/server.js
Owners: @Omikorin, @StachowiakDawid

Added language selector
  frontend/next-i18next.config.js
  frontend/public/locales/en/common.json
  frontend/public/locales/pl/common.json
  frontend/src/components/LanguageSwitcher.tsx
  frontend/src/components/Navbar.tsx
Owners: @Omikorin, @StachowiakDawid

Added language selector (#387)
  frontend/next-i18next.config.js
  frontend/public/locales/en/common.json
  frontend/public/locales/pl/common.json
  frontend/src/components/LanguageSwitcher.tsx
  frontend/src/components/Navbar.tsx
Owners: @Omikorin, @StachowiakDawid

Fixed errors when logging in on production environment
  backend/package.json
  backend/pnpm-lock.yaml
Owners: @Informatyzacja-CI, @Omikorin, @StachowiakDawid

Fixed errors when logging in on production environment (#389)
  backend/package.json
  backend/pnpm-lock.yaml
Owners: @Informatyzacja-CI, @Omikorin, @StachowiakDawid

feat(landing): added latest meeting header, changed displayed meetings to last 5
  frontend/public/locales/en/common.json
  frontend/public/locales/pl/common.json
  frontend/src/components/Navbar.tsx
  frontend/src/pages/index.tsx
Owners: @Omikorin, @StachowiakDawid

fix: changed date format to dd/MM/yyyy
  frontend/src/components/Resolutions.tsx
  frontend/src/pages/index.tsx
Owners: @Omikorin, @StachowiakDawid

fix: last 5 resolutions are displayed
  frontend/src/pages/index.tsx
Owners: @Omikorin, @StachowiakDawid

Added info about latest planned meeting (#491)
  frontend/public/locales/en/common.json
  frontend/public/locales/pl/common.json
  frontend/src/components/Navbar.tsx
  frontend/src/components/Resolutions.tsx
  frontend/src/pages/index.tsx
Owners: @Omikorin, @StachowiakDawid

chore: update package
  .husky/pre-commit
  backend/package.json
  frontend/package.json
  package.json
Owners: @Omikorin, @StachowiakDawid, @Informatyzacja-CI

chore: fix workflow version warnings
  frontend/package.json
  package.json
Owners: @Informatyzacja-CI

style(frontend): format
  frontend/src/components/Footer.tsx
  frontend/src/components/LanguageSwitcher.tsx
  frontend/src/components/Meeting.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/Resolutions.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/posiedzenia/[id].tsx
  frontend/src/pages/posiedzenia/index.tsx
  frontend/src/pages/struktura.tsx
  frontend/src/pages/uchwaly.tsx
Owners: @Omikorin, @StachowiakDawid

build(deps): auto dependency upgrade (#501)
  frontend/package.json
  frontend/src/components/Footer.tsx
  frontend/src/components/LanguageSwitcher.tsx
  frontend/src/components/Meeting.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/Resolutions.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/posiedzenia/[id].tsx
  frontend/src/pages/posiedzenia/index.tsx
  frontend/src/pages/struktura.tsx
  frontend/src/pages/uchwaly.tsx
  package.json
  pnpm-lock.yaml
Owners: @Informatyzacja-CI, @Omikorin, @StachowiakDawid

feat: added i18n for meeting places, changed enum values
  backend/src/api/meeting/content-types/meeting/schema.json
  frontend/public/locales/en/common.json
  frontend/public/locales/pl/common.json
  frontend/src/api/graphql.ts
  frontend/src/components/Meeting.tsx
  frontend/src/pages/posiedzenia/index.tsx
Owners: @Omikorin, @StachowiakDawid

fix: enum naming consistency
  backend/src/api/meeting/content-types/meeting/schema.json
  frontend/public/locales/en/common.json
  frontend/public/locales/pl/common.json
  frontend/src/api/graphql.ts
Owners: @Omikorin, @StachowiakDawid

Added i18n for meeting places, changed enum values (#510)
  backend/src/api/meeting/content-types/meeting/schema.json
  frontend/public/locales/en/common.json
  frontend/public/locales/pl/common.json
  frontend/src/api/graphql.ts
  frontend/src/components/Meeting.tsx
  frontend/src/pages/posiedzenia/index.tsx
Owners: @Omikorin, @StachowiakDawid

fix: lint
  frontend/src/components/Layout.tsx
Owners: @Omikorin, @StachowiakDawid

fix: lint
  frontend/src/components/Layout.tsx
Owners: @Omikorin, @StachowiakDawid

Auto dependency upgrade (#520)
  frontend/package.json
  frontend/src/components/Layout.tsx
  pnpm-lock.yaml
Owners: @Informatyzacja-CI, @Omikorin, @StachowiakDawid
